body {
  width: auto;
  height: auto;
  background-color: #fbfaec;
  font-family: "Noto Sans Thai", sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  background-color: #6e6d4e;
  text-align: right;
  width: auto;
  font-family: "Roboto Condensed", sans-serif;
}

.navbar li {
  font-size: 24px;
  padding: 30px 25px 30px 25px;
  display: inline-block;
  color: white;
  font-weight: bold;
}
.navbar a {
  color: rgb(255, 255, 255);
}
.navbar a:hover {
  color: #d8cd4a;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6e6d4e;
  min-width: 160px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.signup_box {
  margin: 100px auto 100px auto;
  width: 710px;
  height: 800px;
  background-color: #6e6d4e;
  border-radius: 10px;
  text-align: center;
}
.signup_head {
  font-size: 70px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.signup_form {
  margin: 0px auto 0px auto;
}
.signup_box .signup_form {
  width: 465px;
  height: auto;
}
.table_name {
  width: 465px;
  margin: 0px auto 0px auto;
}
.table_name td input[type="text"] {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ffffff;
  color: #447464;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-bottom: 19px;
  width: 225px;
  margin-right: 3px;
  margin-left: 3px;
}
.signup_box .signup_form input[type="text"] {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ffffff;
  color: #447464;
  height: 40px;
  width: 465px;
  border: none;
  border-radius: 10px;
  margin-bottom: 19px;
}
.signup_box .signup_form_address textarea {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ffffff;
  color: #447464;
  resize: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 19px;
}

input[type="text"] ::placeholder {
  color: white;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 10px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #6a7f23;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #d8cd4a;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.signup_check_submit {
  margin-left: 110px;
}
td {
  display: inline block;
}
input[type="submit"] {
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f0deb4;
  color: #6e6d4e;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-left: 95px;
}
.signup_check_submit a {
  color: #f0deb4;
}
.signup_check_submit label {
  color: white;
}
.signup_box .signup_form_email input[type="email"] {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ffffff;
  color: #447464;
  height: 40px;
  width: 465px;
  border: none;
  border-radius: 10px;
  margin-bottom: 19px;
}
.signup_box .signup_form_password input[type="password"] {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ffffff;
  color: #447464;
  height: 40px;
  width: 465px;
  border: none;
  border-radius: 10px;
  margin-bottom: 19px;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff9d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
